body{
    background:hsl(213deg 85% 97%);
    margin: auto;
    font-family:"Lucida Sans", sans-serif;
}

:root {
    --brdrcl: 1px solid #969da3;
   
  }
  /* ======= GRID ====== */
.mainBody{

    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: auto auto auto;
    gap:20px;
    justify-content: center;
}

.item1 { 
    grid-column: 1/10;
    grid-row: 1;
}
.item2 { 
    grid-column: 4/8;
    grid-row: 2;

}
.item3 { 
    grid-column: 4/7;
    grid-row: 3;
 }
/*** ========================== ***/
.nav{
    background:#6c757d;
    display: flex;
    padding: 5px;   
}

.navbar-text{
    color:aliceblue;
    font-size: 1.2rem;
    margin: 9px;
    padding: 12px;
}

.firstLine{
    margin-bottom: 60px;
}

/* ======= FLEX ====== */
.container{
    display: flex;
    height:auto; 
    justify-content: center; 
    width:fit-content;
    flex-wrap: wrap;  
    border: var(--brdrcl);
    border-radius: 10px;
    background-color:white;
    box-shadow: 1px 1px 2px #bbbfc2, 0 0 25px #bbbfc2, 0 0 5px #bbbfc2;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card{
    margin:60px 10px;
    padding: 1rem;
    width: 300px;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 80px;
    border: var(--brdrcl);
    border-radius: 10px;
    text-align: center;
    background-color: #f8f9fa;
    box-shadow: 1px 1px 2px #bbbfc2, 0 0 2px #bbbfc2, 0 0 5px #bbbfc2;

}

.cardImag{
    width:150px;
    height:150px;
    border-radius: 50%;
}


.cardPrg{
    margin-bottom: 40px;
}
.cardfooter{
    padding: 10px;
    margin: 10px;
    border-top:var(--brdrcl) ;
    border-bottom:var(--brdrcl) ;
    background-color: white;

}

.stars{
    color: #aaa;
    margin-top: 30px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    flex-shrink: 4;
  
}

.footer > * {
   
    flex-shrink: 1;
    margin: 60px;
   
}

.footer h5 {
    color: rgb(201, 88, 88);
    font-size: 1rem;
    margin-left: 30px;
   

}

.btn{
    margin:auto;
    text-align: center;
    font-size: 1rem;
    padding: 10px 20px;
    color: #6c757d;
}

a {font-size: 4em;
    color: #aaa;
    text-decoration: none;
    margin: 4px;}

    a:hover {
        color: gold;
    }

/* ================ MEDIA QUERY ================ */
/*============================================== */

    @media only screen and (max-width: 1000px) {
        .mainBody{
            display: block;
        }
        .container{
            width:fit-content;
            justify-content: center;
            margin: auto;
         }
         .row{
            flex-wrap: wrap; 
            margin: 20px;
            justify-content: center;
 
        }
        .card{
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            margin: 30px;
            margin-top: 20px;
        }
    
        
      }
      